body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

/* !  Drop down */
header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li.sub-menu:before {
  content: "\25BC";
  font-family: FontAwesome;
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 5px;
  font-size: 12px;
}

header nav ul li.active.sub-menu:before {
  content: "\25B2";
}

header nav ul li ul {
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}
header nav ul li.active ul {
  display: block;
}
header nav ul li ul li {
  display: block;
  width: 200px;
}
/* ! */
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: #fff;
  background: #2196f3;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }

  header nav {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  /* ! Drop down */
  header nav ul li.active ul {
    position: relative;
    background: #003e6f;
  }

  header nav ul li ul li {
    width: 100%;
  }
  /* ! */
}
